/* for debug purposes: show outline for each
* {
  outline: 1px solid red;
}
*/

body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

nav {
  display: flex;
  background: turquoise;
  position: sticky;
  top: 0;
  padding: 1.2rem;
  z-index: 1;
}

.nav-item {
  padding: 0.5rem;
  z-index:3;
  transition: 0.1s;
}

.nav-item:hover {
  border-radius: 2rem;
  background-color: white;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index:1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content{
  display: none;
  background: turquoise;
  position: absolute;
  padding: 0.5rem;
  left: -0.5rem;
  z-index:2;
}

.dropdown-content p{
  display: block;
}

.nav-right {
  margin-left: auto;
  
}

nav ~ * {
  margin: 2rem;
}

