.profile {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.profile > * {
    outline: dotted 1px red;
    flex-basis: 40%;
    text-align: center;
}

.profile-photo-container {
    position: relative;
}

.profile-photo {
    border-radius: 50%;
    transition: 0.5s;
}

.profile-photo:hover {
    opacity: 0.4;
}

.profile-photo:hover + .contact-btn {
    opacity: 1;
}

.contact-btn {
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    border: none;
    background: turquoise;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1rem;
}

.contact-btn:hover {
    opacity: 1;
}
