.profile {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.profile > * {
    flex: 1 1 300px;
    text-align: center;
}

.profile-photo {
    width: 150px;
    height: 150px;
    margin: auto;
    background-image: url('src/assets/shibe.jpg');
    background-size: contain;
    border-radius: 50%;
    transition: 0.5s;
    display: flex;
}

.profile-photo:hover {
    opacity: 0.4;
}
.profile-photo:hover .contact-btn {
    opacity: 1;
}

.contact-btn {
    margin: auto;
    opacity: 0;
    transition: 0.5s;
    padding: 1rem;
    font-size: 1rem;
}
